<template>
    <table class="table">
        <tbody>
        <tr class="table_header">
            <th>Country</th>
            <th>Total confirmed corona patients</th>
            <th>Total confirmed deaths by corona</th>
            <th>Total recovered corona patients</th>
            <th>Date of submitting</th>
        </tr>
        <tr v-for="country in getCountryData">
            <td>{{country.Country}} {{country.Province}}</td>
            <td>{{country.Active}}</td>
            <td :class="{'highdeath' : country.Deaths >= 1000}">{{country.Deaths}}</td>
            <td>{{country.Recovered}}</td>
            <td>{{country.Date}}</td>
        </tr>
        </tbody>
    </table>
</template>
<script>
    export default {
        data() {
            return {}
        },
        computed: {
            getCountryData() {
                return this.$store.state.corona.country;
            }
        }
    }
</script>
