<template>
    <table class="table">
        <tbody>
            <tr class="table_header">
                <th>Country</th>
                <th>Date of submitting</th>
                <th>Total confirmed corona patients</th>
                <th>Total confirmed deaths by corona</th>
                <th>Total recovered corona patients</th>
            </tr>
            <tr v-for="country in getAllCountries" :class="{'highdeath' : country.TotalDeaths >= 1000}">
                <td>{{country.Country}}</td>
                <td>{{country.Date}}</td>
                <td>{{country.TotalConfirmed}}</td>
                <td>{{country.TotalDeaths}}</td>
                <td>{{country.TotalRecovered}}</td>
            </tr>
        </tbody>
    </table>
</template>
<script>
    export default {
        data() {
            return {}
        },
        computed: {
            getAllCountries() {
                return this.$store.state.corona.countries;
            }
        }
    }
</script>
