<template>
    <div>
        <n-link to="/">< To homepage</n-link>
        <h1 class="title allcountries">ALL COUNTRIES</h1>
        <AppCountryTable/>
    </div>
</template>

<script>
    import AppCountryTable from "~/components/countriesTable";

    export default {
        data() {
            return {
            }
        },
        components: {
            AppCountryTable
        },
        mounted() {
            this.$store.dispatch('corona/getAllStats');

        },
    }
</script>

<style>
    .allcountries {
        text-align: center;
    }
</style>
