<template>
    <div>
        <n-link to="/">< To homepage</n-link>
        <h1 class="title bycountry">SEARCH COUNTRY</h1>

        <div>
            <label for="countryInput">Country name</label>
            <input id="countryInput" v-model="country" placeholder="Country name">
            <button v-if="!loading" @click="submitCountry()">Submit country</button>

            <p v-if="loading">Loading!</p>
        </div>

        <AppCountryTable/>
    </div>
</template>

<script>
    import AppCountryTable from "~/components/countryTable";

    export default {
        data(){
            return {
                country:'',
                loading: false,
            }
        },
        components: {
            AppCountryTable,
        },
        methods: {
            async submitCountry(){
                if(this.country !== '') {
                    this.loading = true;
                    await this.$store.dispatch('corona/getCountryStats', this.country);
                    this.loading = false;
                }
            },
        }
    }
</script>

<style>
    .bycountry {
        text-align: center;
    }
</style>
