<template>
    <div class="container">
        <div>
            <logo/>
            <h1 class="title">nuxt-workshop</h1>
            <h2 class="subtitle">My phenomenal Nuxt.js project</h2>
            <div class="links">
                <nuxt-link to="/allcountries" class="button--green">All Country Stats</nuxt-link>
                <nuxt-link to="/bycountry" class="button--grey">Stats By Country</nuxt-link>
            </div>
        </div>
    </div>
</template>

<script>
    import Logo from '~/components/Logo.vue';

export default {
    components: {
        Logo
    },
    mounted() {
        this.$store.dispatch("corona/getAllStats");
        this.$store.dispatch("corona/getCountryStats", 'Netherlands');
    }
}
</script>

<style>
    .subtitle {
        font-weight: 300;
        font-size: 42px;
        color: #526488;
        word-spacing: 5px;
        padding-bottom: 15px;
    }

    .links {
        padding-top: 15px;
    }
</style>
